
.DS_Store
.DS_Store
.DS_Store
Room/app/.idea/workspace.xml
Room/app/.idea/encodings.xml
Room/app/.idea/misc.xml
Room/app/.idea/runConfigurations.xml
Room/app/.idea/gradle.xml
Room/app/.idea/modules.xml
Room/app/.idea/vcs.xml
Room/app/local.properties
.DS_Store
*.xml
Room/app/.idea/caches/build_file_checksums.ser
Room/app/.idea/libraries/Gradle__androidx_room_room_common_2_2_0_beta01_jar.xml
Room/app/.idea/caches/build_file_checksums.ser
